/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* main fonts of elements */
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: 42px;
}

/* main wrapper for the whole website */
#wrapper {
    display: grid;
    grid-template-columns: 21% 79%;
}

/* styling for the left sidebar */
#sidebar {
    text-align: right;
    margin-left: 20%;
}

/* Change the link color on hover */
#sidebar li a:hover{
    background-color: #555;
    color: white;
}

/* The sidebar navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}
    
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Styling for the main information */
#body {
    position: relative;
    margin-right: 10%;
    margin-top: 2em;
    padding-left: 2em;
}

#info-table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
}

#info-table td, th {
    padding: 0.5em;
    font-size: 1em;
    font-weight: lighter;
    padding: 8px;
}

#info-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#info-table tr:hover {
    background-color: #999999;
    color: #ffffff;
}

#info-table th {
    font-size: 3;
    background-color: #555;
    color: white;
    padding: 8px 16px;
}

/* The login body div */
#login-container {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #393939;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    text-align: center;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Div for additional information below the table */
#extra-information {
    text-align: center;
}